@media (max-width: 768px) {
  /* Responsividade da classe container principal */
  .container {
    padding-inline: 15px;
  }

  /* Deixando responsivo a navegação com menu hamburguer */
  #menu {
    & #icon-menu {
      z-index: 5;
    }

    /* Retirando a navegação desktop */
    & .menu-nav {
      display: none;
    }

    /* Fazendo o ícone do menu hamburger aparecer */
    & .hamburger {
      display: block;
      z-index: 5;
    }

    /* Criando uma classe .active para o Javascript */
    .menu-mobile.active {
      max-width: 100%;
      opacity: 1;
    }

    /* Estilizando a navegação do menu mobile */
    .menu-mobile {
      & .menu-item {
        list-style-type: none;

        & a {
          color: #d4dcff;
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
  }

  /* Deixando responsivo a sessão hero */
  #hero {
    & .hero-desc {
      & h1 {
        font-size: 30px;
      }

      & h2 {
        font-size: 20px;
      }
      /* Retirando o avião desktop */
      & .airplanner-desktop {
        display: none;
      }
      /* Estilizando o avião mobile */
      & .airplanner-mobile {
        display: flex;
        max-width: 200px;
        width: 100%;
        margin-bottom: -20px;
      }
    }
  }

  /* Responsividade sessão Quem Somos? */
  #meet-us {
    & #about-us {
      flex-direction: column;

      & .about-us-img {
        & img {
          width: 90%;
        }
      }
    }
  }

  /* Responsividade sessão Minha Viagem */
  #trip-me {
    & #destinations {
      gap: 50px;
      & .destination {
        flex-direction: column;
      }
    }
  }
}